body{
    margin: 0;
    box-sizing: border-box;
    background-color: rgba(72, 163, 0, 0.07);
    font-family: poppins, sans-serif;
}

h1{
    font-weight: 700;
    color: #48A300;
    font-size: 64px;
    text-align: center;
    position: sticky;
    top: 20px;
    z-index: -1;
}

h1 span{
    color: #61481C;
}

main{
    padding: 50px 0;
}

.container{
    background-color: rgba(251, 251, 251, 1);
    max-width: 680px;
    max-height: 810px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 20px 42px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.container h2{
    font-size: 32px;
}

.container h2 img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.sun-img{
    animation: rotate-animation 2s ease-in-out infinite;
}

 @keyframes rotate-animation {
            0% {
                transform: rotate(0deg);
            }
            50% {
                transform: rotate(180deg);
            }
            
            100% {
                transform: rotate(360deg);
            }
        }

.goal-alert{
    font-weight: 400;
    font-size: 14px;
    color: rgba(133, 133, 133, 1);
    margin-top: 46px;
}

.progress-bar{
    background-color: rgba(72, 163, 0, 0.1);
    height: 30px;
    border-radius: 15px;
    margin-top: 18px;
}

.progress-value{
    background-color: rgba(72, 163, 0, 1);
    width: 0;
    height: 100%;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width 0.25s ease-in-out;
}

.pregress-text{
    font-weight: 500;
    font-size: 10px;
    color: rgba(238, 255, 224, 1);
    margin-left: 15px;
    flex-shrink: 0;
}

.user-alert{
    font-size: 14px;
    color: rgba(255, 81, 81, 1);
}

.hide-uder-alert{
    visibility: hidden;
}

.goal-container {
    background-color: rgba(255, 255, 255, 1);
    height: 82px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 17px;
    margin-top: 30px;
}

.custom-checkbox{
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    flex-shrink: 0;
    cursor: pointer;
}

.completed{
    border-color: #48A300;
    background-image: url("images/Group\ 1.svg");
}

.goal-box-after-completed{
    color: #48A300;
    text-decoration: line-through;
}

.goal-box{
    margin-left: 30px;
    width: 100%;
    height: 80%;
    font-size: 16px;
    border: none;
    outline: none;
    font-family: inherit;
    font-weight: 500;
}

.goal-box::placeholder{
    color: #D9D9D9;
}

.quote{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    margin-block: 50px;
}

footer{
    color: rgba(133, 133, 133, 1);
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    margin-top: 20px;
}